body {
    background-color: pink;
    text-align: center;
    font-weight: bolder;
}
h1 {
    text-shadow: 0 0 5px red;
}
div, footer {
    background-color: white;
}
img {
    width: 400px;
    box-shadow: 0 0 5px darksalmon;
}
p {
    padding: 15px;
    border: 1px solid origin;
}